<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <title>Đặt lại mật khẩu thành công</title>
</head>

<body>
    <div class="login">
        <div class="container">
            <nav class="navbar">
                <a class="navbar d-flex" href="/home">
                    <img src="/assets/img/logo_Login.svg" alt="" width="120px" height="60px"
                        class="d-inline-block align-text-top" style="cursor: pointer;">
                </a>
                <h3 class="title">Đặt lại mật khẩu</h3>
            </nav>
        </div>
        <div class="banner bg-common">
            <div class="container-sm d-flex form">
                <img src="/assets/img/img_Login.png" alt="" class="rounded mx-auto d-block">
                <div class="form_login">
                    <div class="title text-dark fs-5 py-2 text-center">
                        <i class="fas fa-check-circle text-success fa-3x mb-3"></i>
                        <h4>Đặt lại mật khẩu thành công!</h4>
                    </div>
                    <div class="text-center">
                        <p class="text-success mb-3">{{.message}}</p>
                        <div class="alert alert-success" role="alert">
                            <i class="fas fa-info-circle me-2"></i>
                            Mật khẩu của bạn đã được cập nhật. Bạn có thể đăng nhập với mật khẩu mới.
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <a href="/login" class="btn btn-success">Đăng nhập ngay</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="bg-light">
            <div class="container ">
                <div class="footer my-4">
                    <div class="row">
                        <!-- Customer care -->
                        <div class="col">
                            <div class="title-footer mb-2 mt-5">CHĂM SÓC KHÁCH HÀNG</div>
                            <ul class="list-footer p-0 ">
                                <a href="#">
                                    <li class="py-1">Trung Tâm Trợ Giúp</li>
                                </a>
                                <a href="#">
                                    <li class="py-1">Hobi Blog</li>
                                </a>
                                <a href="#">
                                    <li class="py-1">Hobi Mall</li>
                                </a>
                                <a href="#">
                                    <li class="py-1">Hướng Dẫn Mua Hàng</li>
                                </a>
                                <a href="#">
                                    <li class="py-1">Hướng Dẫn Bán Hàng</li>
                                </a>
                                <a href="#">
                                    <li class="py-1">Thanh Toán</li>
                                </a>
                                <a href="#">
                                    <li class="py-1">Hobi Xu</li>
                                </a>
                                <a href="#">
                                    <li class="py-1">Vận Chuyển</li>
                                </a>
                                <a href="#">
                                    <li class="py-1">Trả Hàng & Hoàn Tiền</li>
                                </a>
                                <a href="#">
                                    <li class="py-1">Chăm Sóc Khách Hàng</li>
                                </a>
                                <a href="#">
                                    <li class="py-1">Chính Sách Bảo Hành</li>
                                </a>
                            </ul>
                        </div>
                        <!-- End customer -->
                        <!-- Shopee -->
                        <div class="col">
                            <div class="title-footer mb-2 mt-5">VỀ SHOPEE</div>
                            <ul class="list-footer p-0">
                                <a href="#">
                                    <li class="py-2">Giới Thiệu Về Hobi Việt Nam</li>
                                </a>
                                <a href="#">
                                    <li class="py-2">Tuyển Dụng</li>
                                </a>
                                <a href="#">
                                    <li class="py-2">Điều Khoản Hobi</li>
                                </a>
                                <a href="#">
                                    <li class="py-2">Chính Sách Bảo Mật</li>
                                </a>
                                <a href="#">
                                    <li class="py-2">Chính Hãng</li>
                                </a>
                                <a href="#">
                                    <li class="py-2">Kênh Người Bán</li>
                                </a>
                                <a href="#">
                                    <li class="py-2">Flash Sales</li>
                                </a>
                                <a href="#">
                                    <li class="py-2">Chương Trình Tiếp Thị Liên Kết HoBi</li>
                                </a>
                                <a href="#">
                                    <li class="py-2">Liên Hệ Với Truyền Thông</li>
                                </a>
                            </ul>
                        </div>
                        <!-- End  -->
                        <!-- Pay -->
                        <div class="col">
                            <div class="title-footer mb-2 mt-5">THANH TOÁN</div>
                            <ul class="d-flex flex-wrap p-0">
                                <li class="py-2 mx-2">
                                    <img src="/assets/img/Common/payment-1.png" alt="">
                                </li>
                                <li class="py-2 mx-2">
                                    <img src="/assets/img/Common/payment-2.png" alt="">
                                </li>
                                <li class="py-2 mx-2">
                                    <img src="/assets/img/Common/payment-3.png" alt="">
                                </li>
                                <li class="py-2 mx-2">
                                    <img src="/assets/img/Common/payment-4.png" alt="">
                                </li>
                                <li class="py-2 mx-2">
                                    <img src="/assets/img/Common/payment-5.png" alt="">
                                </li>
                                <li class="py-2 mx-2">
                                    <img src="/assets/img/Common/payment-6.png" alt="">
                                </li>
                                <li class="py-2 mx-2">
                                    <img src="/assets/img/Common/payment-7.png" alt="">
                                </li>
                                <li class="py-2 mx-2">
                                    <img src="/assets/img/Common/payment-8.png" alt="">
                                </li>
                            </ul>
                            <div class="mb-2 mt-5">Đơn Vị Vận Chuyển</div>
                            <ul class="d-flex flex-wrap p-0">
                                <li class="py-2 mx-2">
                                    <img src="/assets/img/Common/deli1.png" alt="">
                                </li>
                                <li class="py-2 mx-2">
                                    <img src="/assets/img/Common/deli2.png" alt="">
                                </li>
                                <li class="py-2 mx-2">
                                    <img src="/assets/img/Common/deli3.png" alt="">
                                </li>
                                <li class="py-2 mx-2">
                                    <img src="/assets/img/Common/deli4.png" alt="">
                                </li>
                                <li class="py-2 mx-2">
                                    <img src="/assets/img/Common/deli5.png" alt="">
                                </li>
                                <li class="py-2 mx-2">
                                    <img src="/assets/img/Common/deli6.png" alt="">
                                </li>
                                <li class="py-2 mx-2">
                                    <img src="/assets/img/Common/deli7.png" alt="">
                                </li>
                                <li class="py-2 mx-2">
                                    <img src="/assets/img/Common/deli8.png" alt="">
                                </li>
                                <li class="py-2 mx-2">
                                    <img src="/assets/img/Common/deli9.png" alt="">
                                </li>
                                <li class="py-2 mx-2">
                                    <img src="/assets/img/Common/deli10.png" alt="">
                                </li>
                                <li class="py-2 mx-2">
                                    <img src="/assets/img/Common/deli11.png" alt="">
                                </li>
                            </ul>
                        </div>
                        <!-- End Pay -->
                        <!-- Follow  -->
                        <div class="col">
                            <div class="title-footer mb-2 mt-5">THEO DÕI CHÚNG TÔI TRÊN</div>
                            <ul class="p-0">
                                <li class="my-2">
                                    <a href="https://www.facebook.com/ShopeeVN">
                                        <img src="/assets/img/Common/img-contact-footer.png" alt="">
                                        <span class="contact-footer">Facebook</span>
                                    </a>
                                </li>
                                <li class="my-2">
                                    <a href="https://www.instagram.com/Shopee_VN">
                                        <img src="/assets/img/Common/img-contact-footer2.png" alt="">
                                        <span class="contact-footer">Instagram</span>
                                    </a>
                                </li>
                                <li class="my-2">
                                    <a href="https://www.linkedin.com/company/shopee/">
                                        <img src="/assets/img/Common/img-contact-footer3.png" alt="">
                                        <span class="contact-footer">LinkedIn</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Follow -->
                        <!-- Install app -->
                        <div class="col">
                            <div class="title-footer mb-2 mt-5">TẢI ỨNG DỤNG SHOPEE NGAY THÔI</div>
                            <div class="d-flex">
                                <a href="https://shopee.vn/web" class="shadow-sm bg-body">
                                    <img src="/assets/img/Common/qr-footer.png" alt="">
                                </a>
                                <div>
                                    <a href="https://shopee.vn/web"
                                        class="d-block shadow-sm bg-body rounded my-1 mx-3 px-2">
                                        <img src="/assets/img/Common/app_store-footer.png" alt="">
                                    </a>
                                    <a href="https://shopee.vn/web"
                                        class="d-block shadow-sm bg-body rounded my-1 mx-3 px-2">
                                        <img src="/assets/img/Common/google_play-footer.png" alt="">
                                    </a>
                                    <a href="https://shopee.vn/web"
                                        class="d-block shadow-sm bg-body rounded my-1 mx-3 px-2">
                                        <img src="/assets/img/Common/app-gallery_footer.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Install app -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
    </div>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>